* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2148C0 ;
    background-image: url(./BG.svg);
    background-repeat: no-repeat;   
    background-size: cover;
    /* background-size: auto; */
    font-family:Arial, Helvetica, sans-serif;
}

.logo {
    background-image: url(./Group.png);
    background-repeat: no-repeat;   
    background-size: cover;
    width: 133px;
    height: 142px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 161px;
    margin-bottom: 27px;
}

.username {
    position: relative;
    /* display: block; */
}

.username input {
    border: solid 2px;
    border-radius: 5px;
    border-color: #fff;
    width: 300px;
    height: 45px;
    display: block;
    background: transparent;
    padding-left: 25px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
    transition: .25s ease;
}

.username input:focus {
    border-color: none ;
}

.username input::placeholder {
    /* padding-left: 51px; */
    color: #fff;
}

.Userlogo {
    position: absolute;
    top: 50%;
    
}

.password {
    margin-top: 20px;
}

.password input {
    border: solid 2px;
    border-radius: 5px;
    border-color: #fff;
    width: 300px;
    height: 45px;
    display: block;
    background: transparent;
    padding-left: 25px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    transition: .25s ease;
}

.password input::placeholder {
    /* padding-left: 51px; */
    color: #fff;
}

.login button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border: solid 2px;
    border-color: #fff ;
    color: #2148C0;
    font-weight: 800;
    margin-top: 43px;
    box-shadow: 20px 20px 50px grey ;
}

.forgotpassword {
    color: #fff;
    display: block;
    text-align: center;
    padding-left: 185px;
    margin-top: 11px;
}

